html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  color: #777781;
  height: 100vh;
  overflow-y: scroll;

  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-kerning: normal;
  font-size: 16px;
  font-variant-ligatures: normal;
  line-height: 1.2;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #EE6352;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.app-login {
  display: flex;
  flex-direction: column;
  width: 100%;

  .app-header {
    width: 100%;
    margin-bottom: 40px;
  }

  .login-box {

  }

  .app-footer {
    background: #444;
    margin-top: auto;
    text-align: center;
  }
}

.logout {
  background: transparent;
  border: 0;
  color: #777;
  font-size: 0.75em;
  margin: auto 20px auto auto;
  padding: 10px 15px;

  &:hover {
    color: #EE6352;
    background-color: rgba(0,0,0,0.05);
  }
}

.lede {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.sidebar-button_link {
  background: transparent;
  border: 0;
  color: #EE6352;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;

  li {
    color: #7B8C95;
    cursor: pointer;
    display: flex;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-align: middle;
    text-transform: uppercase;

    .oi {
      margin-right: 10px;
    }

    &:hover {
      background: #435360;
      color: rgba(255,255,255,0.7);
    }
  }
}
