.slideEquipment {

  .slide-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    strong {
      width: 15%;
      text-align: right;
      margin-bottom: 10px;
    }

    input {
      width: calc(85% - 40px);
      margin-left: 20px;
      padding: 10px;
      margin-bottom: 10px;
    }
  }

  .equipmentTextBox {
    margin-bottom: 20px;
  }
}
