.uploader {
  width: 100%;

  label {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    padding: 80px 20px;
  }

  input[type="file"] {
    height: 1px;
    visibility: hidden;
  }

  img {
    display: block;
    width: 100%;
  }
}
