.tooltip {
  background: #444;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  padding: 5px;
  font-size: 0.85em;
  font-weight: normal;
  width: 350%;
  border-radius: 3px;
  opacity: 0.85;
  margin-bottom: 7px;

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #444;
    border-width: 5px;
    margin-left: -5px;
  }
}
