.slideFirstDay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .bodyMap {
    width: 100%;
  }

  .agenda {
    width: 100%;
    margin: 20px 0;

    > *, .agenda-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      align-items: left;
    }

    &-header {
      color: #fff;
      background-color: #2E404E;
      font-weight: bold;
    }

    &-item {
      &:nth-child(odd) {
        background-color: #f0f0f0;
      }
    }

    .timeInput,
    .desc {
      padding: 14px 20px;
    }

    .timeInput {
      text-align: left;
    }

    .agendaTimeItem,
    .agendaTimeTitle {
      width: 315px;
    }

    .desc {
      flex-grow: 1;
      width: auto;
    }

    .buttonContainer {
      margin-left: auto;
    }

    input {
      width: 100%;
    }
  }

  .addItemBtn {
    margin-top: 9px;
  }

}

.mapContainerDivEdit {
  width: 100%;
  height: 100%;

  .mapDiv {
    height: 100%;

    .mapContainer {
      margin-bottom: 25px;
    }
  }
}
