.playbookEditor {
  display: flex;
  flex-direction: row;
  position: relative;

  &-body {
    width: 85%;
  }

  &-sidebar {
    padding-left: 20px;
    width: 15%;

    h3 {
      margin-top: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
        background-color: lightblue;
        padding: 10px;
        text-align: center;
        margin: 0 0 10px;
      }
    }
  }
  .sidebarBuffer {
    padding-top: 20px;
    padding-left: 20px;
    width: 13%;
  }
}
