.userList {

  .modalContainer {
    position: fixed;
    z-index: 9;
  }

  &-metadata {
    text-align: right;
    background: #F2F3F6;
    color: #444;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px 20px;
  }

  table {
    width: 100%;
    border-collapse: separate;
  }

  &-header {
    background: #F2F3F6;
    border: 1px solid #DBDCE2;
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  th {
    color: #767E95;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px 0 1px #FFF;
  }

  th, td {
    padding: 20px 0 20px 20px;

    &.checkbox {
      width: 1.2rem;
      text-align: center;
    }

    input {
      font-size: 1rem;
    }

    &.name {
      font-weight: bold;
      color: #444;
    }
  }

  &-option {
    border-left: 4px solid transparent;
    border-bottom: 1px solid #DBDCE2;
    text-align: middle;

    &:hover {
      border-left-color: #EE6352;
      background: #FEFBF2;
      cursor: pointer;
    }

    .oi[data-glyph="key"] {
      color: #EE6352;
      font-size: 0.75rem;
      margin-left: 5px;
      padding: 3px;
      text-align: center;
    }

    .actions {
      text-align: right;
      padding-right: 20px;
      position: relative;
    }
  }

  &-actionBar {
    display: flex;
    flex-direction: row-reverse;

    button {
      margin-left: auto;
    }
  }

  .checkbox {
    padding-left: 10px;
  }

  .table {
    margin-bottom: 20px;
  }

  .cell {

    &.name {
      width: 45%;
    }

    &.email {
      width: 25%;
    }

    &.role {
      width: 10%;
    }

    &.actions {
      margin-left: auto;
      width: 9%;
    }

    .profile-img {
      float: left;
      width: 36px;
      height: 36px;
      background: #ccc;
      overflow:hidden;
      border-radius: 100%;
      margin-right: 10px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .actions {
      margin-left: 0;
    }
  }

  .admin {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-left: 10px;
    padding: 5px;
    background-color: #EE6352;
    color: white;
    border-radius: 2px;
  }
}




