ul, ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;

  li {
    text-align: center;
  }
}
.right {
  text-align: right;

  li {
    text-align: right;
  }
}
.left {
  text-align: left;
}

.mapContainerDiv {
  width: 100%;
  height: 100%;

  .mapDiv {
    width: 100%;
    height: 100%;
    margin-left: 9%;

    .mapContainer {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 29vw;
      height: 50vh;
    };
  }
}




