.inputGroup {
  label {
    display: block;
    span {
      display: inline-block;
      padding-right: 1rem;
      text-align: right;
      width: 15%;
    }
  }

  input {
    border: 0;
    outline: 0;

    display: inline-block;
    width: 40%;

    font-size: 1rem;
  }

  .input {
    border-bottom: 1px solid #ccc;
  }

  .read-only {
    font-weight: bold;
  }
}
