.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.48);
  z-index: 99999;
  animation: mymove 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes mymove {
    from {top: -50px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

.modal {
  font-family: 'Droid Sans', sans-serif;

  h3 {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    margin-top: 0px;
  }

  .card-body {
    padding: 10px;

    .modalFooter {
      margin-top: 10px;
    }
  }
}

.modalDialog > div {
  max-width: 570px;
  position: relative;
  margin: 10% auto;
  width: 65%;
}

.userButtonGroup {
  float: right;
}

.errorContainer {
  display: inline-block;
  float: right;

  .errorText {
    height: 28px;
    display: inline-block;
    overflow: auto;
    background-color: rgba(238, 99, 82, 0.24);
    border: 1px solid rgba(67, 83, 96, 0.26);
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);

    p {
      margin: 0px;
      padding: 7px;
    }

    .visibleError {
      display: inline-block;
    }
  }
}
.spinnerContainer {
  height: 28px;
  padding: 4px;
  float: right;

  .spinner {
    height: 16px;
    float: right;
    margin-right: 5px;
  }
}

.iconContainer {
  display: inline-block;
  background-color: #2E404E;
  color: #FFF;
  width: 39px;
  height: 33px;
  margin-bottom: 5px;

  .iconInfo {
    padding: 8px 13px;
  }
}

.inputIcon {
  height: 33px;
  width: 53%;
  padding: 6px 12px;
  border: 1px solid #435360;
  z-index: 900;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  float: left;
  margin-bottom: 5px;
}

.selectInput {
  width: 77%;
  border-right: none;
  border-radius: 0px;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 30%;
  text-align: right;
  padding-right: 10px;
  padding-top: 7px;
}
