.card {
  display: flex;
  flex-direction: column;

  background: #fff;
  border: 1px solid #CAD0D2;
  border-radius: 3px;
  margin: 0 0 20px;
  overflow: hidden;

  &-header:not(:empty),
  &-body:not(:empty),
  &-footer:not(:empty) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  &-header {
    background: #EEF3F5;
    border-bottom: 1px solid #D7DBDD;
    color: #57727C;
    font-size: 1.2em;
    font-weight: bold;
  }

  &-body {

  }

  &-footer {

  }
}

.card-noPadding {
  .card-header,
  .card-body,
  .card-footer {
    padding: 0;
  }
}
