.login-box {
  background: #fff;
  border: 5px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 45%;
}

.inputField {
  display: block;
  margin: 0;
  vertical-align: middle;

  span {
    display: block;
    margin-bottom: 3px;
    text-align: left;
  }

  input {
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 1.1em;
    outline: none;
    padding: 5px;
    width: 100%;
  }
}

.button {
  background: #4A167C;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px;
  outline: none;
  padding: 12px 20px;
  width: calc(100% - 20px);
}

.button-link {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
}
